#s-e5d58afa-67a7-46bb-9a6e-072958167a2a > #backgroundBox {
  position: absolute;
}
#s-e5d58afa-67a7-46bb-9a6e-072958167a2a > #alignmentBox {
  position: relative;
}
#s-e5d58afa-67a7-46bb-9a6e-072958167a2a #s-Image_1 {
  position: absolute;
  width: 1366.0px;
  height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e5d58afa-67a7-46bb-9a6e-072958167a2a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}